build*
*.swp
*tags
*~
/.vscode/
/baseq3

# OS X
####################
.Spotlight-V100/
.Trashes/
._*
.AppleDouble
.DS_Store
.LSOverride
Icon?

# Xcode
####################
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.user
*.xcuserstate
*.moved-aside
*~.nib
.idea/
DerivedData/
project.xcworkspace/
xcuserdata/
profile
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Microsoft Visual Studio
####################
*.sdf
*.opensdf
*.suo
/.vs

# in source tree build
CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
install_manifest.txt
version.txt
detect_arch.c
Makefile
tools/CMakeFiles/
tools/CMakeCache.txt
tools/CPackConfig.cmake
tools/CPackSourceConfig.cmake
tools/cmake_install.cmake
tools/install_manifest.txt
tools/Makefile
tools/dagcheck.c
ioquake3/
Release/
qvm_tools-prefix/
tools/Release/
tools/qvm_tools-prefix/
tools/ioquake3
shaders.dir/
